asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
cssutils
Django
django-naomi
django-smtp-ssl
future
idna
numpy
pandas
pycparser
PyMySQL
pynliner
pyperclip
python-dateutil
pytz
requests
six
soupsieve
sqlparse
urllib3
