{% extends 'index/registration/login_base.html' %}
{% block title %}Recuperar Contraseña{% endblock title %}
{% block h1 %}Cambiar contraseña{% endblock h1 %}
{% block h2 %}Ingresa los Datos Solicitados{% endblock h2 %}
{% block form %}
<div class="row g-3">
    <div class="col-12">
        <input type="email" name="{{form.email.name}}" class="form-control p-3" placeholder="Ingresa tu Email">
    </div>
    <div class="col-12 d-grid gap-2">
        <input type="submit" class="btn btn-cm p-3" value="Cambiar Contraseña">
        <a href="{% url 'login' %}" class="btn btn-light p-3">Volver</a>
    </div> 
</div>
{% endblock form %}
