{% extends 'index/registration/login_base.html' %}
{% block title %}Recuperar Contraseña{% endblock title %}

{% block h1 %}Nueva Contraseña{% endblock h1 %}
{% block h2 %}Ingresa los Datos Solicitados{% endblock h2 %}
{% block form %}
{% if validlink %}
{{form.new_password1.errors}}
<label for="id_new_password1">Nueva Contraseña:</label>
{{form.new_password1}}

{{form.new_password2.errors}}
<label for="id_new_password2">Confirme Contraseña:</label>
{{form.new_password2}}
<input type="submit" value="Cambiar Contraseña">
{% else %}
<h1 class="text-center">Enlace Inválido: Este enlace ya fue utilizado.</h1>
{% endif %}
{% endblock form %}
