{% extends 'index/registration/login_base.html' %}
{% block title %}Recuperar Contraseña{% endblock title %}

{% block h1 %}Nueva Contraseña{% endblock h1 %}
{% block h2 %}Ingresa los Datos Solicitados{% endblock h2 %}
{% block form %}
{% if validlink %}
    <div class="row g-3">
        <div class="col-12">
            {{form.new_password1.errors}}
            <input type="password" name="{{form.new_password1.name}}" class="form-control p-3" placeholder="Nueva Contraseña:">
        </div>
        <div class="col-12">
            {{form.new_password2.errors}}
            <input type="password" name="{{form.new_password2.name}}" class="form-control p-3" placeholder="Confirme Contraseña:">
        </div>
        <div class="col-12 d-grid gap-2">
            <input type="submit" class="btn btn-cm p-3" value="Cambiar Contraseña">
            <a href="{% url 'login' %}" class="btn btn-light p-3">Volver</a>
        </div> 
    </div>
{% else %}
<h1 class="text-center">Enlace Inválido: Este enlace ya fue utilizado.</h1>
{% endif %}
{% endblock form %}
