<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Esta cuenta fue cambiada</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
                <b>Cuenta Anterior</b>
            </p>
            <p>
                <b>E-Mail:</b> {{ data.account.email }}
            </p>
            <p>
                <b>Perfil:</b> {{ data.account.profile }}
            </p>
            <p>
                <b>Cuenta Actual:</b>
            </p>
            <p>
                <b>E-Mail</b> {{ new_data.account.email }}
            </p>
            <p>
                <b>Perfil:</b> {{ new_data.account.profile }}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
