{% extends 'adm/base/base.html' %}
{% block title %}
    Agregar / Quitar Creditos
{% endblock title %}
{% block body %}
    <h1>Agregar / Quitar Creditos a {{ customer.username }}</h1>
    {{ customer.credits }}
    <form method="post">
        {% csrf_token %}
        <input type="number"
               name="credits"
               class="form-control m-2"
               placeholder="Agregar o quitar creditos"
               required>
        <input type="submit" value="Agregar/Quitar Creditos" class="btn btn-cm m-2">
        <a href="{% url 'adm:credit_list' %}" class="btn btn-cm-cancel m-2">Cancelar</a>
    </form>
{% endblock body %}
