{% extends 'adm/base/base.html' %}
{% block title %}
    Códigos
{% endblock title %}
{% block body %}
    <h1>Códigos</h1>
    <button class="btn btn-cm">Primer Boton</button>
    <button class="btn btn-primary">Segundo Boton</button>
    <button class="btn btn-secondary">Tercer Boton</button>
    <table class="table table-hover mt-3">
        <thead>
            <th>#</th>
            <th>Código</th>
            <th>Activo</th>
            <th>Duración</th>
            <th>Precio</th>
            <th>Folio</th>
            <th>Fecha de Canje</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Pedido</th>
        </thead>
        <tbody>
            {% for code in object_list %}
                <tr>
                    <td>{{ code.pk }}</td>
                    <td>{{ code.name }}</td>
                    <td>{{ code.status }}</td>
                    <td>{{ code.long }} me{{ code.long|pluralize:"s,ses" }}</td>
                    <td>{{ code.price }}</td>
                    <td>{{ code.folio }}</td>
                    <td>{{ code.used_at }}</td>
                    <td>
                        {{ code.customer.first_name }} {{ code.customer.last_name }}
                        {% if code.customer.first_name %}-{% endif %}
                        {{ code.customer }}
                    </td>
                    <td>{{ code.seller }}</td>
                    <td>{{ code.order_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'adm/base/paginator.html' %}
{% endblock body %}
