{% extends 'adm/base/base.html' %}
{% block title %}
    Perfil
{% endblock title %}
{% block body %}
    <h1 class="w-100 mb-4">Perfil de {{ request.user }}</h1>
    <div class="d-flex">
        <div class="datos me-3">
            <p>
                <b>Nombre: </b>
                {{ request.user.first_name }}
            </p>
            <p>
                <b>Apellido: </b>
                {{ request.user.last_name }}
            </p>
            <p>
                <b>E-Mail: </b>
                {{ request.user.email }}
            </p>
            <a href="{% url 'adm:profile_update' request.user.id %}"
               class="btn btn-cm">EDITAR</a>
        </div>
        <div class="picture ms-3">
            <p>
                <b>Telefono:</b>
                {{ request.user.userdetail.phone_number }}
            </p>
            <p>
                <b>País:</b>
                {{ request.user.userdetail.country }}
            </p>
            <p>
                <b>Foto de perfil:</b>
            </p>
            <p>
                {% if request.user.userdetail.picture %}
                <img src="{{ request.user.userdetail.picture.url }}"
                     alt="Foto de perfil de {{ request.user }}"
                     width="200">
                {% else %}
                <span>Sin foto</span>
                {% endif %}
            </p>
            <br>
            <a href="{% url 'adm:profile_update_details' request.user.userdetail.id %}"
               class="btn btn-cm">Editar</a>
        </div>
    </div>
{% endblock body %}
