{% extends 'adm/base/base.html' %}
{% load static %}
{% block title %}Por Cobrar{% endblock title %}
{% block body %}
<h1>Quedan {{left}} cuenta{{left|pluralize:",s"}} por liberar</h1>
<div class="d-flex">
    <form method="GET" class="d-flex me-2">
        <label for="date" class="me-2">Fecha de vencimiento </label>
        <input type="date" name="date" id="date" class="form-control me-2">
        <button type="submit" class="btn btn-cm">Buscar</button>
    </form>
    <form method="get">
        <input type="hidden" name="date" value="{{tomorrow|date:"Y-m-d"}}">
        <button type="submit" class="btn btn-primary me-2" style="padding:0.65rem">Vence Mañana</button>
    </form>
    <a href="{% url 'adm:receivable' %}" class="btn btn-cm-cancel me-2">Limpiar Filtro</a>    
</div>

<table class="table table-hover mt-3">
    <thead>
        <th></th>
        <th></th>
        <th>Cliente</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Vencimiento Cliente</th>
        <th>Vencimiento Cuenta</th>
        <th>Acciones</th>

    </thead>
    <tbody>
        {% for rece in object_list %}
            <tr class="t-img text-center">
                <td>
                    <img src="/media/{{rece.account.account_name.logo}}" alt="{{rece.account.account_name.name}}" width="30">
                </td>
                <td>
                    {% if rece.account.renovable == True %}
                        <i class="bi bi-star-fill" style='color:orange'></i>
                    {% endif %}  
                </td>
                <td>
                    {{rece.customer.username}}
                </td>
                <td>
                    {{rece.account.email}}
                </td>
                <td>
                    {{rece.account.profile}}
                </td>
                <td>
                    {{rece.expiration_date|date:'d-m-Y'}}
                </td>
                <td>
                    {{rece.account.expiration_date|date:'d-m-Y'}}
                </td>
                <td>
                    <a href="{% url 'adm:release' rece.id %}" class="cm">
                        <i class="bi bi-check-circle"></i>
                    </a>

                    <a href="#" onclick="copyAcc('{{rece.id}}')" class="cm">
                        <i class="bi bi-clipboard"></i>
                    </a>

                    <a href="{% url 'adm:receivable' %}?email={{rece.account.email}}" class="cm">
                        <i class="bi bi-eye"></i>
                    </a>
                    <!--Copiado-->
                    <textarea id="{{rece.id}}" style="border:none;background-color:transparent;overflow: hidden;resize: none;" rows="1" cols="1" readonly>
                        Buenas tardes amig@, le recuerdo que su cuenta  {{rece.account.account_name}} ya venció, para seguir utilizándola debe renovar. Por ser cliente frecuente tendrás un 10% de descuento si renuevas por 3 meses o más el día de hoy.
                    </textarea>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'adm/base/paginator.html' %}
{% endblock body %}
{% block extrajs %}
<script>
    function copyAcc(copyId){
        const codigoACopiar = document.getElementById(copyId);
        codigoACopiar.select();
        document.execCommand('copy');
    }
</script>
{% endblock extrajs %}