{% extends 'adm/base/base.html' %}
{% load static %}
{% block title %}Ventas{% endblock title %}
{% block head %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1307198861567997"
     crossorigin="anonymous"></script>
{% endblock head %}
{% block body %}
{% if customer.username %}
<h1>Ventas a {{customer.username}}</h1> 
<p class="details">Username:{{customer.username}} <i class="bi bi-ticket-detailed-fill"></i> {{customer.email}} <i class="bi bi-telephone-fill"></i> {{customer.userdetail.phone_number}} <i class="bi bi-flag-fill"></i> {{customer.userdetail.country}} <a class="cm" href="{% url 'adm:user_update' customer.userdetail.id %}">Editar...</a> <a class="cm" href="{% url 'adm:user_mainupdate' customer.userdetail.id %}">Datos Personales...</a></p>
{% elif customer.email%}
    <h1>Ventas a {{customer.email}}</h1>
    <p class="details"> Username:{{customer.username}} <i class="bi bi-ticket-detailed-fill"></i> {{customer.email}} <i class="bi bi-telephone-fill"></i> {{customer.userdetail.phone_number}} <i class="bi bi-flag-fill"></i> {{customer.userdetail.country}}  <a class="cm" href="{% url 'adm:user_update' customer.userdetail.id %}">Editar...</a> <a class="cm" href="{% url 'adm:user_mainupdate' customer.userdetail.id %}">Datos Personales...</a></p>
{% elif  customer.userdetail.phone_number %}
    <h1>Ventas a {{customer.userdetail.phone_number}}</h1>
    <p class="details"> Username:{{customer.username}} <i class="bi bi-ticket-detailed-fill"></i> {{customer.email}} <i class="bi bi-telephone-fill"></i> {{customer.userdetail.phone_number}} <i class="bi bi-flag-fill"></i> {{customer.userdetail.country}}  <a class="cm" href="{% url 'adm:user_update' customer.userdetail.id %}">Editar...</a> <a class="cm" href="{% url 'adm:user_mainupdate' customer.userdetail.id %}">Datos Personales...</a></p>
{% elif not customer %}
    <h1>Ventas</h1>
{% else %}
    <h1>Ventas</h1>
    <div class="alert alert-danger" role="alert">
        {{customer}}
      </div>
{% endif %}
{% if customer.userdetail.free_days > 0 %}
<div class="alert alert-success" role="alert">
    <h2>Felicidades</h2>
    <p>Tienes {{customer.userdetail.free_days}} dias gratis para utilizar en la compra de tus servicios.</p>
</div>
{% endif %}
<!--Available Account-->
<div class="d-flex mb-4">
    {% for key,value in availables.items %}
        <b class="ms-2">{{key}}:</b> {{value}} 
    {% endfor %}    
</div>
<!--Seach Box-->
<form method="post" class="d-flex w-100">
    {% csrf_token %}
    <input type="text" class="form-control" name="customer" placeholder="Ingresa email o whats app sin codigo de pais" autofocus>
    <input type="submit" value="Buscar Cliente" class="btn btn-cm ms-2">
    <a href="{% url 'adm:sales' %}" class="btn btn-cm-cancel ms-2">Limpiar</a>
    {% if customer and customer.userdetail.country %}
        {% if customer.userdetail.country == '??' %}
        
        {% else %}
            <a href="{% url 'adm:sales_create' customer.id %}" class="btn btn-primary ms-2">Venta</a>         
            <a href="#" class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Codigo</a>         
        {% endif %}
   
    {% endif %}

</form>
<!--Country do not seted-->
{% if customer and not customer.userdetail.country or customer.userdetail.country == '??' %}
    <div class="alert alert-danger mt-3" role="alert">
        Para crear una venta debes completar el perfil del cliente haciendo clic <a href="{% url 'adm:user_update' customer.userdetail.id %}" class="alert-link">aqui</a>.
    </div>
{% endif %}


<!--Error message-->
{% if message %}
    <div class="alert alert-danger mt-4" role="alert">
        {{message}}
    </div>
{% endif %}

{% if customer %}
    <h6 class="mt-4">Activas</h6>
    {% if active %}
    <table class="table table-hover"> 
        <thead>
            <th></th>
            <th></th>
            <th>E-Mail</th>
            <th>Clave</th>
            <th>Pin</th>
            <th>Perfil</th>
            <th>F.Compra</th>
            <th>F.Vencimiento Cliente</th>
            <th>F.Vencimiento Cuenta</th>
            <th>Vendedor</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for a in active %}
                <tr class="text-center">
                    <td class="t-img"><img src="/media/{{a.account.account_name.logo}}" alt="{{a.account.account_name.description}}" width="30"></td>
                    <td>
                        {% if a.account.renovable %}
                            <i class="bi bi-star-fill" style="color:orange"></i>
                        {% endif %}
                          <!--Copiado-->

                        <textarea id="{{a.id}}" style="border:none;background-color:transparent;overflow: hidden;resize: none;" rows="1" cols="1" readonly>
*Muchas Gracias por tu compra!* 🎉
Siempre buscamos mejorar nuestro servicio, es por eso que ahora tus claves estaran siempre disponibles en este link, para verlas solo entra aqui y luego presiona en "Ver Claves":
https://cuentasmexico.mx/ThanksYou/system/{{a.payment_amount}}/{{a.id}}

*¿Quieres recibir descuentos exclusivos para clientes frecuentes?* 👀
Hazlo en 3 sencillos pasos:
1. Guarda este numero en tus contactos: 833 535 5863
2. Ingresa a https://m.me/ctasmx?ref=PromocionesClienteFrecuente
3. Haz clic en Recibir Actualizaciones

Con esto recibirás promociones exclusivas y los mejores precios del mercado.
                        </textarea>
                        <textarea  id="{{a.id}}2" style="border:none;background-color:transparent;overflow: hidden;resize: none;" rows="1" cols="1" readonly>
                            *Muchas Gracias por tu compra!*
                            Para ver tus claves siempre actualizadas descarga nuestra app *Cuentas Mexico* desde Play store haciendo click aqui: https://play.google.com/store/apps/details?id=com.luinmack.CuentasMexicoApp
                            Tambien verlas desde Iphone, Ipad o PC en https://app.cuentasmexico.mx
                            Tus usuario para la aplicacion es:
                            *{{a.customer.username}}*
                            Preguntame por la clave si no la tienes o no la recuerdas.
                        </textarea>

                    </td>
                    <td>{{a.account.email}}</td>
                    <td>{{a.account.password}}</td>
                    <td>{{a.account.pin}}</td>
                    <td>{{a.account.profile}}</td>
                    <td>{{a.created_at|date:'d-m-Y'}}</td>            
                    <td>{{a.expiration_date|date:'d-m-Y'}}</td>            
                    <td>{{a.account.expiration_date|date:'d-m-Y'}}</td>            
                    <td>{{a.user_seller}}</td>  
                    <td>
                        <a href="{% url 'adm:sales_update_status' a.id a.customer.id a.status %}" title="Suspender" class="cm">
                            <i class="bi bi-stop-circle"></i>
                        </a>
                        <a href="{% url 'adm:sales_renew' a.id %}" title="Renovar" class="cm">
                            <i class="bi bi-currency-dollar"></i>
                        </a>
                        <a href="{% url 'adm:sales_change' a.id %}" title="Cambiar" class="cm">
                            <i class="bi bi-shuffle"></i>
                        </a>
                        <a href="#" onclick="abrir_modal_edicion('{% url 'adm:key_adjust' a.id  %}')" title="Ajustar Vencimiento" class="cm">
                            <i class="bi bi-calendar-event"></i>
                        </a>
                        <a href="#" onclick="copyAcc('{{a.id}}')" title="Copiar Claves" class="cm">
                            <i class="bi bi-clipboard"></i>
                        </a>

                        <a href="#" onclick="copyAcc('{{a.id}}2')" title="Entregar Links" class="cm">
                            <i class="bi bi-clipboard2-heart"></i>
                        </a>
                        {% if customer.userdetail.free_days > 0 %}
                        <a href="{% url 'adm:sales_add_free_days' a.id customer.userdetail.free_days %}" title="Agregar {{customer.userdetail.free_days}} dias gratis" class="cm">
                            <i class="bi bi-arrow-up-circle-fill"></i>
                        </a>
                        {% endif %}
                    </td>          
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            No hay cuentas activas disponibles
        </div>
    {% endif %}

    {% if inactive %}
        <table class="table table-hover">
            <h6 class="mt-4">Inactivas</h6>
            <thead>
                <th></th>
                <th></th>
                <th>E-Mail</th>
                <th>Clave</th>
                <th>Pin</th>
                <th>Perfil</th>
                <th>F.Compra</th>
                <th>F.Vencimiento Cliente</th>
                <th>F.Vencimiento Cuenta</th>
                <th>Vendedor</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for a in inactive %}
                    <tr class="text-center">
                        <td class="t-img"><img src="/media/{{a.account.account_name.logo}}" alt="{{a.account.account_name.description}}" width="30"></td>
                        <td>
                            {% if a.account.renovable %}
                                <i class="bi bi-star-fill" style="color:orange"></i>
                            {% endif %}
                        </td>
                        <td>{{a.account.email}}</td>
                        <td>{{a.account.password}}</td>
                        <td>{{a.account.pin}}</td>
                        <td>{{a.account.profile}}</td>
                        <td>{{a.created_at|date:'d-m-Y'}}</td>            
                        <td>{{a.expiration_date|date:'d-m-Y'}}</td>            
                        <td>{{a.account.expiration_date|date:'d-m-Y'}}</td>            
                        <td>{{a.user_seller}}</td>       
                        <td>
                            {% if a.old_acc %}
                                <a href="#" onclick="abrir_modal_edicion('{% url 'adm:sales_old' a.id %}')" title="Ver Historico" class="cm">
                                    <i class="bi bi-archive"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'adm:cupon_redeem' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Canjeando codigo a {{customer.username}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="code">Ingresa el codigo del cupon</label>
                <input type="text" id="code" name="code" class="form-control" autofocus>
                <input type="hidden" name="customer" value="{{customer.id}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cm-cancel" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Revisar</button>
            </div>
        </form>    
      </div>
    </div>
  </div>

{% endblock body %}
{% block extrajs %}
<script src="{% static 'adm/js/copy.js' %}"></script>
{% endblock extrajs %}


