{% extends 'adm/base/base.html' %}
{% block title %}
    Servicios
{% endblock title %}
{% block body %}
    <h1>Servicios Disponibles</h1>
    <a href="{% url 'adm:services_create' %}" class="btn btn-cm">Crear Nuevo</a>
    <table class="table mt-4 t-img">
        <thead>
            <th></th>
            <th>Servicio</th>
            <th>Perfiles</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for service in object_list %}
                <tr>
                    <td>
                        {% if service.logo %}
                            <img src="{{ service.logo.url }}"
                                 alt="Logo de {{ service.description }}"
                                 width="40">
                        {% else %}
                            <span>Sin logo</span>
                        {% endif %}
                    </td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.perfil_quantity }}</td>
                    <td>
                        {% if service.status == True %}
                            Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </td>
                    <td>
                        {% if service.status == True %}
                            <a href="{% url 'adm:active_inactive_service' service.status service.id %}"><i class="bi bi-file-earmark-minus"></i></a>
                        {% else %}
                            <a href="{% url 'adm:active_inactive_service' service.status service.id %}"><i class="bi bi-file-earmark-plus"></i></i></a>
                        {% endif %}
                        <a href="{% url 'adm:services_update' service.id %}"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'adm:services_delete' service.id %}"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
