{% extends 'adm/base/base.html' %}
{% block title %}Detalles {{object.name}}{% endblock title %}
{% block body %}
    {% block h1 %}<h1>Detalles {{object.name}}</h1>{% endblock h1 %}
    {% if not object %}
        <div class="alert alert-danger" role="alert">
        Aún no existe ningun Negocio, puedes crear una haciendo click <a href="{% url "adm:settings_create" %}" class="alert-link">aquí</a>
      </div>
    {% else %}
        <p>
            <label for="{{object.name}}">Nombre:</label>
            <input type="text" class="form-control" id="{{object.name}}" value="{{object.name}}" disabled>
        </p>
        <p>
            <label for="{{object.email}}">E-Mail:</label>
            <input type="text" class="form-control" id="{{object.email}}" value="{{object.email}}" disabled> 
        </p>
        <p>
            <label for="{{object.url}}">Url:</label>
            <input type="text" class="form-control" id="{{object.url}}" value="{{object.url}}" disabled>
        </p>
        <p>
            <label for="{{object.phone_number}}">Teléfono:</label>
            <input type="text" class="form-control" id="{{object.phone_number}}" value="{{object.phone_number}}" disabled>        
        </p>
        <p>
            <label for="{{object.mp_customer_key}}">Customer Key MercadoPago:</label>
            <input type="text" class="form-control" id="{{object.mp_customer_key}}" value="{{object.mp_customer_key}}" disabled>        
        </p>
        <p>
            <label for="{{object.mp_secret_key}}">Secret Key MercadoPago:</label>
            <input type="text" class="form-control" id="{{object.mp_secret_key}}" value="{{object.mp_secret_key}}" disabled>        
        </p>
        <p>
            <label for="{{object.logo}}">Logo:</label><br>
            <img src="/media/{{object.logo}}" id="{{object.logo}}" alt="{{object.name}} Logo" width="100">    
        </p>
        <p>
            <a href="{% url 'adm:settings_update' 1 %}" class="btn btn-cm">Actualizar</a>
        </p>
    {% endif %}

{% endblock body %}